@font-face {
  font-family: 'Adventure';
  src: url('../fonts/Adventure.ttf');
 
}

 
/* ------------------------- Backgrounds */
/*body {background:url("../images/im_bg.gif") left top repeat;}*/
 
/* ------------------------- Generic */
body {
    /*color:#ffffff;*/
}
.clear {clear:both;}

 
/* ------------------------- Typography */
strong {font-weight:bold;}
p {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
address {}
pre, code {font-family: monospace;}
 
/* Links */
a, a:visited, a:active {}
a:hover {}
 
/* ------------------------- Forms */
input {}
select {}
label {}
 
/* ------------------------- Lists */
 
/* ------------------------- Layout */
 .page{
	width:100%;
 }
 #main{
	
	background: url(../images/main-bg.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 }
 /*Share block*/
 .share {
position: absolute;
z-index: 3;
right: 0px;
top: 300px;
}
.share ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.share ul li{
	margin-bottom:10px;
	border:1px solid #fff;
	color:#fff;
	font-size:16px;
}
.share ul li span{
	padding:0 5px;
	width:40px;
	height:40px;
	line-height:40px;
}
.share ul li a{
	display:block;
	width:55px;
	height:40px;
}
#ref_fb{
	background:url(../images/f.png)no-repeat center center;
}
#ref_fb:hover{
	background:#fff url(../images/f-h.png)no-repeat center center;
}
#ref_lkd{
	background:url(../images/in.png)no-repeat center center;
}
#ref_lkd:hover{
	background:#fff url(../images/in-h.png)no-repeat center center;
}
#ref_gp{
	background:url(../images/g.png)no-repeat center center;
}
#ref_gp:hover{
	background:#fff url(../images/g-h.png)no-repeat center center;
}
#ref_vk{
	background:url(../images/vk.png)no-repeat center center;
}
#ref_vk:hover{
	background:#fff url(../images/vk-h.png)no-repeat center center;
}
/*Share block end*/
 .header{
	width:100%;
	height:90px;
	
 }
 #logo{
	height:90px;
 }
 .menu{
	margin-top:20px;
 }
 .menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
 }
 .menu ul li{

float: left;
padding: 0px 30px;
border-right: 2px solid #02a7d7;
}

 .menu ul li a{
	color:#02a7d7;
	font-size:16px;
	line-height:50px;
 }
  .menu ul li a:hover{
	text-decoration:none;
  }
 .main_content{
	/*background:url(../images/blue.png);*/
	padding-bottom:30px;
 }
 .slogan{
	text-align:center;
	margin-top:80px;
	margin-bottom:30px;
 }
 h1.head{
	color:#ededed;
	font-size:40px;
 }
 .head span{
	font-weight:bold;
 }
 .image{
	padding:50px 10px 10px;
	position:relative;
 }
 
 .hover-img {

width:164px;
height:113px;
position:absolute;
z-index:2;
background:url(../images/img1.png)no-repeat;
top: -50px;
left: 23px;
display:none;
}
.block:hover .hover-img{
	display:block;
 }
 .block:hover .hover-img:hover{
	background:url(../images/img-n.png)no-repeat;
 }
 .circle{
	padding: 10px;
width: 310px;
height: 310px;
margin:0px auto;
background:url(../images/circle-bg.png)no-repeat center center;
position:relative;
 }
 .inner{
	text-align:center;
	width:100%;
	padding: 39px 10px;
 }
 .block:hover .s{
	background:url(../images/circle1.png) center center no-repeat;
	}
 .block:hover .e{
	background:url(../images/circle2.png) center center no-repeat;
 }
 .block:hover .a{
	background:url(../images/circle3.png) center center no-repeat;
 }
 .inner h1.letter{
	display:block;
	width:122px;
	height:212px;
	margin:0 auto;
	text-indent:-9999px;
 }
 #s{
	background:url(../images/s.png)no-repeat;
 }
 #e{
	background:url(../images/e.png)no-repeat;
 }
 #a{
	background:url(../images/a.png)no-repeat;
 }
 .block:hover #s{background:url(../images/sh.png)no-repeat;}
 .block:hover #e{background:url(../images/eh.png)no-repeat;}
 .block:hover #a{background:url(../images/ah.png)no-repeat;}
 .block{cursor:pointer;}
 
 .block ul{
	margin: 0px 0px 0px 10px;
	padding:0px;
 }
 .block ul li{
	color:#fff;
	font-size:24px;
	padding-left: 20px;
 }
 .block ul li a{
	font-size:21px;
	color:#fff;
	text-decoration:none;
	font-family:'Segoi Ui';
 }
 .btn.yellow{
	font-size:28px;
	color:#fff;
	padding:10px 60px;
	border:1px solid #fff;
	margin-top:30px;
 }
 .btn.yellow:hover{
	background:#d7c000;
 }
 #bottom{
	min-height:500px;
 }
 h1.soc_title{
	font-size:51px;
	color:#999999;
	font-family:'Segoe UI';
	padding:30px 0px;
	border-bottom:1px solid #ddd;
 }
 .bottom-link ul{
	margin:0px;
	padding:0px;
	list-style:none;
 }
 .bottom-link ul li{
	float:left;
	margin-right:10px;
	
 }
 .bottom-link ul li a{
	display:block;
	width:90px;
	height:70px;
	background:url(../images/bottom-soc-h.png)no-repeat;
 }
 #fb-bot{
	background-position:0px -68px;
 }
 #fb-bot:hover,.bottom-link ul li.active #fb-bot{
	background-position:0px 0px;
 }
 #in-bot{
	background-position:-103px -70px;;
 }
 #in-bot:hover, .bottom-link ul li.active #in-bot{
	background-position:-103px 0px;
 }
 #gp-bot{
	background-position:-210px -68px;
 }
 #gp-bot:hover, .bottom-link ul li.active #gp-bot{
	background-position:-210px 1px;
 }
 #vk-bot{
	background-position:-313px -68px;
 }
 #vk-bot:hover,.bottom-link ul li.active #vk-bot{
	background-position:-313px 2px;
 }
 .widget{
	margin:20px 0px;
 }
 #footer{
	background:#1ea8d5;
	color:#fff;
 }
 #footer img{
 padding: 5px;
height: 90px;
 }
 #footer .column{
	padding-top:5px;
 }
 #footer span{
	margin-right:10px;
 }
 .copy{
	height:40px;
	background:#52b3d3;
	margin-top:30px;
	position:relative;
 }
 .copy p{
	padding-top:10px;
 }
 .center{
	text-align:center;
 }
 a.totop{
 cursor: pointer;
 position:absolute;
 top:-20px;
 background: #52b3d3;
border-radius: 50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;
display: inline-block;
padding: 17px 20px;
color: #fff;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
a.totop:hover{
	background:#29ADD8;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.totop > span{
	margin-right:0px!important;
}
/* ------------------------- Popups */
 
/* ------------------------- Media Queries */
 
/* ---------------------------------------------------------------------------- */
/* MEDIA QUERIES -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
 
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
@media only screen 
and (min-width : 321px)
and (max-width : 480px) {
    /* Styles */
.block:hover .s{background:transparent;}
.block:hover .e{background:transparent;}
.block:hover .a{background:transparent;}

}
@media only screen 
and (min-width : 481px)
and (max-width : 768px) {
    /* Styles */
.block:hover .s{background:transparent;}
.block:hover .e{background:transparent;}
.block:hover .a{background:transparent;}

}
 
@media (min-width: 768px){

 }
@media (min-width: 1200px){

}
 
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
 
}
 
/* Smartphones (landscape) ----------- */

 
/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 481px)
and (max-width : 768px) {
    /* Styles */
 
}
 
/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 769px) 
and (max-width : 1000px) {
    /* Styles */
 .block:hover .s{background:transparent;}
.block:hover .e{background:transparent;}
.block:hover .a{background:transparent;}
}
 
/* Larger screens ----------- */
@media only screen 
and (min-width : 1024px) {
    /* Styles */
 
}